<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
<parameter name="browser" value="chrome"/>
 
   <test name="Test Class 1">
    <classes>
      <class name="caroobi.CreateHobertLead"/>
    </classes>
  </test> <!-- Test --> 
  
  
     <test name="Test Class 2">
    <classes>
      <class name="caroobi.LeadQueue"/>
    </classes>
  </test> <!-- Test --> 

  
</suite> <!-- Suite -->
